{% extends "base.html.twig" %}
{% set title = 'Dossier List' %}

{% block body %}
    {% for dossier in dossierList %}
        <div data-controller="dossierlist" class="dossierlist">
                Title: {{ dossier.title }}, client: {{ dossier.client.name }}.<br>
                Date: {{ dossier.createdDate|date('d/m/Y') }}<br>
            <div data-dossierlist-target="details">
                <button
                    class="btn btn-primary btn-sm"
                    data-action="click->dossierlist#getDetails"
                    data-id="{{ dossier.id }}"
                >
                    Details dossier
                </button>
            </div>
        </div>
    {% else %}
        <p>No dossiers.</p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(dossierList) }}
    </div>
{% endblock %}
